@model invCruzRoja.Models.INVENTARIO

@{
    ViewBag.Title = "Delete";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>INVENTARIO</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Marca)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Marca)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Modelo)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Modelo)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.NumSerie)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NumSerie)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Estado)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Estado)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.FechaAsignado)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FechaAsignado)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.FechaRetiro)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FechaRetiro)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Descripcion)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Descripcion)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TipoActivo)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TipoActivo)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.MACAddress)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.MACAddress)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Propietario)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Propietario)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PERSONAS.Nombre)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PERSONAS.Nombre)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TERRITORIOS.Comite)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TERRITORIOS.Comite)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-default" /> |
            @Html.ActionLink("Back to List", "Index")
        </div>
    }
</div>
