@model invCruzRoja.Models.TERRITORIOS

@{
    ViewBag.Title = "Delete";
}

<h2>Territorios</h2>
<hr />
<h4>Eliminar Registros</h4>
<hr /><br />
<h3>¿Está seguro que desea eliminar el registro?</h3>
<br /><br />
<div>
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Comite)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Comite)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Provincia)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Provincia)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Region)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Region)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Eliminar" class="btn btn-default" /> |
            @Html.ActionLink("Volver a la Lista", "Index")
        </div>
    }
</div>
