@model invCruzRoja.Models.TERRITORIOS

@{
    ViewBag.Title = "Details";
}

<h2>Territorios</h2>
<hr />
<h4>Detalles</h4>
<hr /><br /><div>
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Comite)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Comite)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Provincia)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Provincia)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Region)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Region)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Modificar", "Edit", new { id = Model.IDTerritorio }) |
    @Html.ActionLink("Volver a la Lista", "Index")
</p>
