@model IEnumerable<invCruzRoja.Models.TERRITORIOS>

@{
    ViewBag.Title = "Index";
}

<body style="background-image:url(../../fonts/fondo-principal.jpg); background-repeat: no-repeat; background-attachment: fixed">
</body>

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Comite)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Provincia)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Region)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Comite)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Provincia)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Region)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.IDTerritorio }) |
            @Html.ActionLink("Details", "Details", new { id=item.IDTerritorio }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.IDTerritorio })
        </td>
    </tr>
}

</table>
<img src="~/fonts/cruzroja 6.png" align="right">