@model invCruzRoja.Models.PERSONAS

@{
    ViewBag.Title = "Delete";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Personas</h2>
<hr />
<h4>Eliminar Registros</h4>
<hr /><br />
<h3>¿Está seguro que desea eliminar el registro?</h3>
<br /><br />
<div>
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Nombre)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Nombre)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Apellido1)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Apellido1)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Apellido2)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Apellido2)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Telefono)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Telefono)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Email)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Email)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Rol)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Rol)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TERRITORIOS.Comite)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TERRITORIOS.Comite)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Eliminar" class="btn btn-default" /> |
            @Html.ActionLink("Volver a la Lista", "Index")
        </div>
    }
</div>
