@model IEnumerable<invCruzRoja.Models.PERSONAS>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<head>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>
<!----<body style="background-image:url(../../fonts/fondo-principal.jpg); background-repeat: no-repeat; background-attachment: fixed">-->
<script>
    $(document).ready(function () {
        $("#myInput").on("keyup", function () {
            var value = $(this).val().toLowerCase();
            $("#myTable tr").filter(function () {
                $(this).toggle($(this).text().toLowerCase().indexOf(value) > -1)
            });
        });
    });
</script>

</body>
<h2>Personas</h2>
<hr /><br />
<input class="form-control" id="myInput" type="text" placeholder="Busqueda Rapida..">
<br />
@Html.ActionLink("Nueva Persona", "Create", "Controller", new { @class = "btn btn-primary" })
<br />
<br />






<table class="table  table-hover " id="myTable">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Nombre)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Apellido1)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Apellido2)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Telefono)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Email)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Rol)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.TERRITORIOS.Comite)
        </th>
        <th>Editar</th>
        <th>Detalles</th>
        <th>Eliminar</th>
    </tr>


    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Nombre)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Apellido1)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Apellido2)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Telefono)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Email)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Rol)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TERRITORIOS.Comite)
            </td>
            <td class="text-center">
                @Html.ActionLink(" ", "Edit", new { id = item.IDPersona }, new { @class = "glyphicon glyphicon-pencil" })
            </td>
            <td class="text-center">
                @Html.ActionLink(" ", "Details", new { id = item.IDPersona }, new { @class = "glyphicon glyphicon-eye-open" })
            </td>
            <td class="text-center">
                @Html.ActionLink(" ", "Delete", new { id = item.IDPersona }, new { @class = "glyphicon glyphicon-trash" })
            </td>

        </tr>
    }

</table>
