<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - Sistema de Inventarios</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" rel="stylesheet">
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
</head>
<!--<body style="background-image:url(../../fonts/fondo-principal.jpg); background-repeat: no-repeat; background-attachment: fixed">-->
<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
            </div>
            @*
            <nav class="navbar navbar-inverse">
                <div class="container-fluid">

                    <ul class="nav navbar-nav">
                        <li>@Html.ActionLink("Inicio", "Index", "Home")</li>
                        <li>@Html.ActionLink("Acerca de", "About", "Home")</li>
                        <li>@Html.ActionLink("Contacto", "Contact", "Home")</li>
                        <li>@Html.ActionLink("Empleados", "Index", "Empleados")</li>
                        <li>@Html.ActionLink("Inventarios", "Index", "Inventarios")</li>
                        <li>@Html.ActionLink("Territorios", "Index", "Territorios")</li>
                        <li>@Html.ActionLink("Personas", "Index", "Personas")</li>
                    </ul>
                </div>
            </nav>
            *@

            <nav class="navbar navbar-inverse navbar-fixed-top">
                <div class="container-fluid">
                    
                    <ul class="nav navbar-nav">
                        <li>@Html.ActionLink("Inicio", "Index", "Home")</li>
                        <li>@Html.ActionLink("Acerca de", "About", "Home")</li>
                        <li>@Html.ActionLink("Contacto", "Contact", "Home")</li>
                       
                        <li class="dropdown">
                            <a class="dropdown-toggle" data-toggle="dropdown">Inventarios <span class="caret"></span></a>
                            <ul class="dropdown-menu">
                                <li>@Html.ActionLink("Empleados", "Index", "Empleados")</li>
                                <li>@Html.ActionLink("Activos", "Index", "Inventarios")</li>
                                <li>@Html.ActionLink("Territorios", "Index", "Territorios")</li>
                                <li>@Html.ActionLink("Personas", "Index", "Personas")</li>
                            </ul>
                        </li>
                        <li class="dropdown">
                            <a class="dropdown-toggle" data-toggle="dropdown">Reportes <span class="caret"></span></a>
                            <ul class="dropdown-menu">
                                <li><a href="~/Reportes/frmReporteEmpleados.aspx">Reporte de Empleados</a></li>
                                <li><a href="~/Reportes/frmReporteInventario.aspx">Reporte de Inventario</a></li>
                                <li><a href="~/Reportes/frmReporteActivosPorTerritorio.aspx">Reporte de Activos por Territorios</a></li>
                                <li><a href="/Reportes/frmReporteActivosPorEmpleado.aspx">Reporte de Activos por Empleado</a></li>
                            </ul>
                        </li>
                        <li>
                            @if (!Request.IsAuthenticated)
                            {
                                <!-- If the user is not authenticated, display the sign-in button -->
                                <a href="@Url.Action("SignIn", "Home")" style="text-decoration: none;">
                                    <svg xmlns="http://www.w3.org/2000/svg" xml:space="preserve" width="250px" height="35px" viewBox="0 0 3278 522" class="SignInButton">
                                    <style type="text/css">
                                        .fil0:hover {
                                            fill: #4B4B4B;
                                        }

                                        .fnt0 {
                                            font-size: 200px;
                                            font-family: 'Segoe UI Semibold', 'Segoe UI';
                                            text-decoration: none;
                                        }
</style>
                                    <rect class="fil0" x="2" y="2" width="3174" height="517" fill="none" />

                                    <rect x="150" y="129" width="122" height="122" fill="#F35325" />

                                    <rect x="284" y="129" width="122" height="122" fill="#81BC06" />

                                    <rect x="150" y="263" width="122" height="122" fill="#05A6F0" />

                                    <rect x="284" y="263" width="122" height="122" fill="#FFBA08" />

                                    <text x="470" y="357" fill="white" class="fnt0">Inicio de sesion</text>
                                </svg>
                                </a>
                            }
                            else
                            {
                                @Html.ActionLink("Cerrar Sesion", "SignOut", "Home")
                            }
                            @if (!string.IsNullOrWhiteSpace(Request.QueryString["errormessage"]))
                            {
                                <div style="background-color:red;color:white;font-weight: bold;">Error: @Request.QueryString["errormessage"]</div>
                            }
                        </li>
                    </ul>
                </div>
            </nav>
            @*<div class="navbar-collapse collapse">
            <ul class="nav navbar-nav">
                <li>@Html.ActionLink("Inicio", "Index", "Home")</li>
                <li>@Html.ActionLink("Acerca de", "About", "Home")</li>
                <li>@Html.ActionLink("Contacto", "Contact", "Home")</li>
                <li>@Html.ActionLink("Empleados", "Index", "Empleados")</li>
                <li>@Html.ActionLink("Inventarios", "Index", "Inventarios")</li>
                <li>@Html.ActionLink("Territorios", "Index", "Territorios")</li>
                <li>@Html.ActionLink("Personas", "Index", "Personas")</li>
            </ul>
        </div>
            *@
        </div>
    </div>
    <div class="container body-content">
        <br /><br />
        <h4 class="text-center">SISTEMA DE INVENTARIOS DE LA CRUZ ROJA COSTARRICENSE</h4>
        <hr />
        <br />
        @RenderBody()
        <br />
        <br />
        <footer>
            <hr />
            <div class="col-md-10">
                <br />
                <p>&copy; @DateTime.Now.Year - Sistema de Inventarios de la Cruz Roja Costarricense</p>
            </div>
            <div class="col-md-2">
                <img src="~/fonts/logoCRw2.png" style="width:70px; height:70px;" />
            </div>
        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
