@model invCruzRoja.Models.EMPLEADOS

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>EMPLEADOS</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Usuario)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Usuario)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Password)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Password)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TipoUsuario)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TipoUsuario)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Correo)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Correo)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PERSONAS.Nombre)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PERSONAS.Nombre)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.IDEmpleado }) |
    @Html.ActionLink("Back to List", "Index")
</p>
