@model IEnumerable<invCruzRoja.Models.EMPLEADOS>

@{
    ViewBag.Title = "Index";
}
<head>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>
<!----<body style="background-image:url(../../fonts/fondo-principal.jpg); background-repeat: no-repeat; background-attachment: fixed">-->
<script>
        $(document).ready(function () {
            $("#myInput").on("keyup", function () {
                var value = $(this).val().toLowerCase();
                $("#myTable tr").filter(function () {
                    $(this).toggle($(this).text().toLowerCase().indexOf(value) > -1)
                });
            });
        });
</script>

</body>
<h2>Empleados</h2>
<br />
<input class="form-control" id="myInput" type="text" placeholder="Busqueda Rapida..">
<br />
@Html.ActionLink("Nuevo Empleado", "Create", "Controller", new { @class = "btn btn-primary" })
<br />
<br />

<table class="table  table-hover " id="myTable">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Usuario)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Password)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.TipoUsuario)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Correo)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.PERSONAS.Nombre)
        </th>
        <th>Editar</th>
        <th>Detalles</th>
        <th>Eliminar</th>
    </tr>

    @foreach (var item in Model)
    {
        <tr class="">
            <td>
                @Html.DisplayFor(modelItem => item.Usuario)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Password)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TipoUsuario)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Correo)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PERSONAS.Nombre)
            </td>
            <td class="text-center">
                @Html.ActionLink(" ", "Edit", new { id = item.IDEmpleado }, new { @class = "glyphicon glyphicon-pencil" })
            </td>
            <td class="text-center">
                @Html.ActionLink(" ", "Details", new { id = item.IDEmpleado }, new { @class = "glyphicon glyphicon-eye-open" })
            </td>
            <td class="text-center">
                @Html.ActionLink(" ", "Delete", new { id = item.IDEmpleado }, new { @class = "glyphicon glyphicon-trash" })
            </td>
        </tr>
    }

</table>



<img src="~/fonts/cruzroja 6.png" align="right">